@charset "utf-8";

.card-header {
	background-color: #EFF2FB;
}

.textStyle{
	resize: none; 
	font-size: 15px; 
	margin-right: 5px;
}

#button--1 {
	outline: none; 
	height: 25px; 
	margin-top: 1rem;
}

#card--2 {
	margin-top: -15px;
}

#button--2 {
	outline: none;
}